<br>
<div class="card">
  <div class="card-body">
  	<h1>Edit Advertisement</h1> <br>
    <%= render 'form', ad: @ad %>
  </div>
</div> <br>
<%= link_to 'Show Ad', @ad %> <br>
<%= link_to 'Go Back', ads_path %>
