
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">New Advertisement</h5>
    <%= render 'form', ad: @ad %>
  </div>
</div> <br><br>
<%= link_to 'Go Back', ads_path, class:"btn btn-primary" %>
