<br><div class="card" style="width: 72rem;">
  <%= image_tag "office.jpg", class:"card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <p class="card-text">Our advertising service will help you to put your startup on the map and help you to gain the initial userbase most startups fail to achieve. The best part? Our service is completely free!</p>
    <%= link_to "Post an Ad Now!", new_ad_path, class:"btn btn-primary" %>
  </div>
</div>